@model AdminUI.Models.ProductViewModel

<link rel="stylesheet" href="~/css/pageCSS/productCreate.css">

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Create Product</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateProduct" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="CategoryId" value="@ViewData["categoryId"]" type="hidden" />
                    <input asp-for="Id" class="form-control" value="" hidden />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitPrice" class="control-label"></label>
                        <input asp-for="UnitPrice" class="form-control" />
                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="Files" class="control-label"></label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="Files" multiple class="form-control custom-file-input" />
                                <label asp-for="Files" class=" custom-file-label">Add Content</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsInStock" /> @Html.DisplayNameFor(model => model.IsInStock)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AwayOrderAvailable" /> @Html.DisplayNameFor(model => model.AwayOrderAvailable)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalProductVolume" class="control-label"></label>
                        <input asp-for="TotalProductVolume" class="form-control" />
                        <span asp-validation-for="TotalProductVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductVolumeUnit" class="control-label"></label>
                        <input asp-for="ProductVolumeUnit" class="form-control" />
                        <span asp-validation-for="ProductVolumeUnit" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-md-8" id="preview-container">
                <div class="row"></div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <a asp-action="ListProducts" asp-route-id="@ViewData["categoryId"]">Back to List</a>
    </div>
    <!-- /.card-footer-->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/pageJS/productCreate.js"></script>
