@model AdminUI.Models.ProductViewModel

<h4>ProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CategoryId" value="@ViewData["categoryId"]" type="hidden" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsInStock" /> @Html.DisplayNameFor(model => model.IsInStock)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AwayOrderAvailable" /> @Html.DisplayNameFor(model => model.AwayOrderAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TotalProductVolume" class="control-label"></label>
                <input asp-for="TotalProductVolume" class="form-control" />
                <span asp-validation-for="TotalProductVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductVolumeUnit" class="control-label"></label>
                <input asp-for="ProductVolumeUnit" class="form-control" />
                <span asp-validation-for="ProductVolumeUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
