@model IEnumerable<AdminUI.Models.ProductCategoryViewModel>

<p>
    <a asp-action="CreateCategory">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("List Product", "ListProducts", new { id = item.Id }) |

                    @Html.ActionLink("Add Product", "CreateProduct", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
