
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link elevation-4">
        <span class="brand-text font-weight-light">Minus</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>
                            Overview
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Partner" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-handshake"></i>
                        <p>
                            Partners
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Users
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="IdentityRole" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-user-tag"></i>
                        <p>
                            User Roles
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Customers
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Product" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-warehouse"></i>
                        <p>
                            Products
                        </p>
                    </a>
                </li>
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>