@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registeryForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RoleId"></label>
                <select asp-for="Input.RoleId" asp-items="Model.Input.Roles" class="form-control" onchange="update(event)"></select>
            </div>
            @if (Model.Input.Partners != null)
            {
                <div class="form-group" id="partnerid">
                    <label asp-for="Input.PartnerId"></label>
                    <select asp-for="Input.PartnerId" asp-items="Model.Input.Partners" class="form-control"></select>
                </div>
            }
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <a id="getUserDetails" asp-action="GetUserDetails" asp-controller="User"></a>
            <button id="updateForm" type="submit" hidden asp-page-handler="update"></button>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
<script>
    function update(event) {
        //let partnerInput = document.querySelector("#partnerid");
        //if (event.target.innerText == "Customer" || event.target.innerText == "Admin") {
        //    partnerInput.style.display = "none";
        //} else {
        //    partnerInput.style.display = "block";
        //}


        //let form = $("form#registeryForm");
        //let url = $('a#getUserDetails').attr("href");

        //form.attr("method", "get");
        //form.submit();
        $('#updateForm').click();

    }

////update partner select on load
//let roleInput = {};
//roleInput.target = document.querySelector("#Input_RoleId");
//update(roleInput);
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
